body, h2 {
    background-color: #dbbab1;
    font-family: oxtail, serif;
    font-weight: 400;
    font-style: normal;
    height: 100%;
    color: #0c426e;
    font-size: 20px;
    line-height: 30px;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
}

main {
    display: block;
    padding: 74px 0 90px;
    width: 85%;
    /* max-width: 680px; */
    margin: 0 auto;
    text-align: center;
    overflow-x: hidden;
}

div {
    display: block;
}

h1 {
  font-size: 72px;
  line-height: 72px;
  text-align: center;
  margin-bottom: 80px;
  font-style: italic;
  text-decoration: underline;
}

.date {
    font-style: italic;
}

.logo {
    width: 10%;
    margin-bottom: 90px;
}

.banner {
    width: 100%;
    margin-bottom: 90px;
    opacity: 0.9;
}

.youtube-frame iframe {
    position: relative;
    /* width: 622px;
    height: 350px; */
    width: 800px;
    height: 451px;
    border: 25px solid rgb(213, 173, 165);
    margin-bottom: 90px;
}

.spotify-frame iframe {
    opacity: 0.9;
    position: relative;
    /* width: 622px;
    height: 350px; */
    /* width: 800px;
    height: 451px;
    border: 25px solid rgb(213, 173, 165); */
    margin-bottom: 90px;
}

h2 {
    font-size: 38px;
    line-height: 38px;
    border: 2px solid #0c426e;
    display: inline-block;
    padding: 13px 18px 14px;
    position: relative;
    z-index: 1;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

ul {
    list-style: none;
}

p, .tour ul li {
    margin-bottom: 1.5em;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.wp-block-group .wp-block-group__inner-container, .tour ul, .socials ul {
    display: inline-block;
    text-align: left;
}

.tour, .contact, .socials {
    margin-bottom: 90px;
}

.fa-twitter:before {
    content: "\f099";
}

.fa-facebook-f:before {
    content: "\f39e";
}

.fa-instagram:before {
    content: "\f16d";
}

.fa-bandcamp:before {
    content: "\f2d5";
}

.fab {
    font-family: "Font Awesome 5 Brands";
}

.fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

a i {
    margin-right: 10px;
}

@media screen and (max-width: 599px) {
    main {
        padding: 0px 0 60px;
        width: 100%;
    }

    h2 {
        font-size: 28px;
        line-height: 28px;
        padding: 12px 16px 12px;
    }
}

@media screen and (max-width: 850px) {
    .youtube-frame iframe {
        position: relative;
        width: 355px;
        height: 200px;
        border: 12px solid rgb(213, 173, 165);
        margin-bottom: 90px;
    }
}
